*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: $font;
  font-size: 1em;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  &.index {
    background: linear-gradient(to bottom, #002131 0%, #19629e 60%);
    .main {
      background: url(../img/textures/curls.png);
      width: 100%;
      margin-top: -20px;
      z-index: -50;
    }
  }
  &.packages {}
  &.lodging {
    .main {
      margin: 2em;
      background: url(../img/textures/topography.png);
      padding: 5%;
      padding-top: 5%;
      h2 {
        font-size: 4em;
      }
    }
  }
  &.gear {
    .main {
      background: url(../img/textures/topography.png);
      width: 100%;
      margin-top: -20px;
      z-index: -50;
      overflow: scroll;
    }
  }
  &.about {
    .main {
      margin: 2em;
      background: url(../img/textures/topography.png);
      padding: 5%;
      padding-top: 5%;
      h2 {
        font-size: 4em;
      }
    }
  }
  &.contact {
    .main {
      margin: 2em;
      background: url(../img/textures/cartographer.png);
      padding: 5%;
      padding-top: 5%;
      h2 {
        font-size: 4em;
      }
    }
  }
}