#app {
    background: url('../img/textures/illusion.png');
    border-bottom: 3px solid $md-green;
    border-top: 3px solid $lt-green;
    margin-left: 2em;
    color: $dark;
    margin: 2em;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 16px;
}

div#app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .search-wrapper {
        position: relative;
        label {
            position: absolute;
            font-size: 12px;
            color: rgba(0, 0, 0, .50);
            top: 8px;
            left: 12px;
            z-index: -1;
            transition: .15s all ease-in-out;
        }
        input {
            margin-top: 2%;
            padding: 4px 12px;
            color: rgba(0, 0, 0, .70);
            border: 1px solid rgba(0, 0, 0, .12);
            transition: .15s all ease-in-out;
            background: white;
            &:focus {
                outline: none;
                transform: scale(1.05);
                &+label {
                    font-size: 10px;
                    transform: translateY(-24px) translateX(-12px);
                }
            }
            &::-webkit-input-placeholder {
                font-size: 12px;
                color: rgba(0, 0, 0, .50);
                font-weight: 100;
            }
        }
    }
    .wrapper {
        display: flex;
        max-width: 600px;
        flex-wrap: wrap;
        padding-top: 12px;
    }
    .card {
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        max-width: 150px;
        margin: 12px;
        transition: .15s all ease-in-out;
        background: url("../img/textures/round.png");
        border-radius: 5px;
        &:hover {
            transform: scale(1.1);
        }
        a {
            text-decoration: none;
            padding: 12px;
            font-size: 24px;
            display: flex;
            color: $dark;
            flex-direction: column;
            align-items: center;
            img {
                height: 100px;
            }
            small {
                font-size: 10px;
                padding: 4px;
            }
        }
    }
    .box {
        width: 100px;
        height: 100px;
        border: 1px solid rgba(0, 0, 0, .12);
    }
}

@media (min-width: 50em) {
    #app {
        float: left;
        margin-top: 5%;
        width: 100%;
    }
    .card {
        width: 200px;
    }
}