nav {
  width: 100%;
  ul {
    display: flex;
    position: relative;
    justify-content: flex-start;
    max-width: 1280px;
    margin: 0 auto;
    li {
      width: 20%;
      list-style: none;
      a {
        display: block;
        font-size: 1.75em;
        line-height: 3em;
        text-align: center;
        text-decoration: none;
        color: $light;
        &:hover {
          background-color: $light;
          color: #333333;
          text-decoration: underline;
        }
      }
      .packages {
        border-bottom: 4px solid $dk-green;
        &:hover {
          background-color: $dk-green;
          color: #ababab;
        }
      }
      .lodging {
        border-bottom: 4px solid $md-green;
        &:hover {
          background-color: $md-green;
        }
      }
      .gear-index {
        border-bottom: 4px solid $lt-green;
        &:hover {
          background-color: $lt-green;
        }
      }
      .about {
        border-bottom: 4px solid #c9d4a7;
        &:hover {
          background-color: #c9d4a7;
        }
      }
      .contact {
        border-bottom: 4px solid #fbf9ac;
        &:hover {
          background-color: #fbf9ac;
        }
      }
    }
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {
      color: #f1f1f1;
    }
  }
  &.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

.open-nav {
  position: fixed;
  top: 0;
  left: 0;
  color: $light;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}