#stars {
  top: 0;
  position: absolute;
  width: 100vw;
  @include height();
  z-index: -100;
}

.star-title {
  font-family: "Open sans", sans-serif;
  font-size: 2.5em;
  text-align: center;
  font-weight: 300;
  color: $light;
  text-transform: lowercase;
  text-shadow: 1px 1px 20px hsla(0, 100%, 100%, 0.3);
  margin: 0;
  padding-top: 5%;
  &.sub {
    font-size: 1.5em;
  }
}

// queries
@media #{$desktop} {
  .star-title {
    font-size: 4em;
    &.sub {
      font-size: 2em;
    }
  }
}
