@import url('https://fonts.googleapis.com/css?family=Rye');

/*Color Scheme*/

// greens
$lt-green: #b8c9ab;
$md-green: #849e73;
$dk-green: #4e5735;
// browns
$lt-brown: #a88f79;
$md-brown: #6f4736;
$dk-brown: #362421;
// mono
$light: #e3e8e3;
$medium: #423d3b;
$dark: #1d1e20;
// fonts
$font: "Open Sans",
sans-serif;
//media query vars
$desktop: "only screen and (min-width : 44em)";